<%- include('partials/header.ejs') %>
<h2 id="location-title">Location near you that will help with clearing your device's viruses: </h2>
<h2 id="address">Address: </h2>
<h2 class = "information"> <%= fakeInfo.address %></h2>
<h2 id="companyName">Company Name: </h2>
<h2 class = "information"> <%=fakeInfo.company %></h2>
<h2 id="phrase"> <%=fakeInfo.phrase %></h2>
  <%- include('partials/footer.ejs')%>
</body>
</html>